@page
@model TestWebApplication.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="fieldset">
	<div class="dd">PageNumber</div>
	<div class="dt">
		@Html.Raw(Model.Student.PageIndex)
	</div>
	<div class="dd">PageSize</div>
	<div class="dt">
		@Html.Raw(Model.Student.PageSize)
	</div>



	<div class="dd">TotalItemCount</div>
	<div class="dt">
		@Html.Raw(Model.Student.Count)
	</div>

	<div class="dd">PageCount</div>
	<div class="dt">
		@Html.Raw(Model.Student.PageCount)
	</div>


	<div class="dd">HasNextPage</div>
	<div class="dt">
		@Html.Raw(Model.Student.HasNextPage)
	</div>

	<div class="dd">HasPreviousPage</div>
	<div class="dt">
		@Html.Raw(Model.Student.HasPreviousPage)
	</div>

	<div class="dd">IsFirstPage</div>
	<div class="dt">
		@Html.Raw(Model.Student.IsFirstPage)
	</div>

	<div class="dd">IsLastPage</div>
	<div class="dt">
		@Html.Raw(Model.Student.IsLastPage)
	</div>

</div>

<p>
	<a asp-page="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Age
			</th>
			<th>
				Gender
			</th>
			<th>
				Bio
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Student.Data)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Age)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Gender)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Bio)
				</td>
				<td>
					<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
					<a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
